:root {
  --grey-900: #141414;
  --grey-800: #1f1f1f;
  --grey-700: #333333;
  --green: #c4f82a;
  --white: #fff;
  --font-family: "Inter", serif;
  --text-preset-1-bold: ;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: var(--grey-900);
    font-family: var(--font-family);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    height: 70%;
    background-color: var(--grey-800);
    border-radius: 10px;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.name__location{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
h1{
    color: var(--white);
}
address{
    color: var(--green);
}
.bio{
    color: var(--white);
    margin: 15px;
}
ul{
    align-items: center;
    margin: 5px;
}
li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-700);
    border-radius: 5px;
    padding: 10px 15vw;
    margin: 10px 0;
    list-style: none;
    cursor: pointer;
}
li:hover{
    background-color: var(--green);
}

a{
    text-decoration: none;
    color: var(--white);

}

@media screen and (min-width: 768px) {
    main{
            height: 50%;
    }
    
}

@media screen and (min-width: 920px) {
    main{
            height: 70%;
    }
    li{
        padding: 10px 5vw;
    }
    
}